name: volga-maturin-build
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: PyO3/maturin-action@v1
        with:
          args: -i python3.10 -m rust/Cargo.toml
          working-directory: $GITHUB_WORKSPACE
      - uses: actions/upload-artifact@v4
        with:
          name: volga-rust-x86_64-py310
          path: /home/runner/work/volga/volga/rust/target/wheels/
